<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/index.css">
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="container">
	<h1 class="title">Watcha!</h1>
	<div class="carousel_handlebar">
		<label for="image_category">Category: </label>
		<select id="image_category" name="image_category">
			<option value="1">category1</option>
			<option value="2">category2</option>
			<option value="3">category3</option>
			<option value="4">category4</option>
		</select>
	</div>
	<div class="carousel_container">
		<a class="carousel_direction carousel_direction--prev">&lt;</a>
		<div class="carousels">
			<a href="#" class="carousel"><img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="carousel__image"></a>
			<a href="#" class="carousel"><img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="carousel__image"></a>
			<a href="#" class="carousel"><img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="carousel__image"></a>
			<a href="#" class="carousel"><img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="carousel__image"></a>
			<a href="#" class="carousel"><img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="carousel__image"></a>
		</div>
		<a class="carousel_direction carousel_direction--next carousel_direction--has">&gt;</a>
	</div>
	<div class="watcha_container">
		<div class="watcha_control">
			<input type="radio" name="watcha_size" id="watchaL" value="100%"><label for="watchaL">L</label>
			<input type="radio" name="watcha_size" id="watchaM" value="50%"><label for="watchaM">M</label>
			<input type="radio" name="watcha_size" id="watchaS" value="33%" checked="checked"><label for="watchaS">S</label>
		</div>
		<div class="watcha_box watcha_box--hd">
			<h2 class="watcha_title">HD</h2>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
		</div>
		<div class="watcha_box watcha_box--ud">
			<h2 class="watcha_title">UD</h2>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
		</div>
		<div class="watcha_box watcha_box--cos">
			<h2 class="watcha_title">Cos</h2>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
			<div class="watcha">
				<img src="http://i.011st.com/al/4/2/4/5/9/3/1365424593_B.jpg" class="watcha__image">
				<span class="watcha__value">0.0</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>
<script src="js/index.js"></script>